.integration-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    width: 300px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin: auto;
    margin-top: 100px; /* Adjust the margin-top for centering on the screen */
    transition: background-color 0.3s ease-in-out;
  }
  
  .integration-box p {
    margin-bottom: 10px;
  }
  
  .integration-box button {
    padding: 10px;
    background-color: #235a95;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .integration-box button.integrated-button {
    background-color: #2967a9;
  }
  
  .integration-box button.disintegrate-button {
    background-color: #dc3545;
  }
  
  .integration-box button:hover {
    color: black;
    background-color: #fff;
  }
  
  /* .integration-box.integrated {
    background-color: #e6ffe6;
    border-color: #28a745;
  } */
  